{% extends "head.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">

<div class="row">
        <div class="col-md-5"></div>
<div class="col-md-3" align="center" style="color:#FFFFFF"><h1>Красавчики до нашей эры</h1></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 my-2"> <img src="{% static 'img/5.jpg' %}"  style="width:900px; height:550px"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-5"></div>
<div class="col-md-3" align="center" style="color:#FFFFFF"><h2>Сюжет</h2></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
<div class="col-md-9" style="color:#FFFFFF">История о первобытном племени - «племени красавчиков». Они ни в чем не нуждаются, всё свободное время прячутся в тени от солнца, занимаются бесполезными делами и существуют за счет соседнего племени, которое днём и ночью работает - «племени рабочих».</div>
</div>
</div>
{% endblock %}

