{% extends "head.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">

<div class="row">
        <div class="col-md-5"></div>
<div class="col-md-3" align="center" style="color:#FFFFFF"><h1>Ford против Ferrari</h1></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 my-2"> <img src="{% static 'img/ford.jpg' %}"  style="width:800px; height:550px"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-5"></div>
<div class="col-md-3" align="center" style="color:#FFFFFF"><h2>Сюжет</h2></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
<div class="col-md-9" style="color:#FFFFFF">Сюжет повествует о группе американских инженеров и дизайнеров. В 1960-х под руководством конструктора Кэрролла Шелби и при поддержке британского гонщика Кена Майлса они должны были с нуля сделать абсолютно новый спорткар, способный опередить Феррари — непобедимого чемпиона 24-часовой гонки на выносливость Ле-Ман.</div>
</div>
</div>
{% endblock %}




