{% extends "head.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">

<div class="row">
        <div class="col-md-5"></div>
<div class="col-md-3" align="center" style="color:#FFFFFF"><h1>Аким</h1></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 my-2"> <img src="{% static 'img/4.jpg' %}"  style="width:900px; height:600px"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-5"></div>
<div class="col-md-3" align="center" style="color:#FFFFFF"><h2>Сюжет</h2></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
<div class="col-md-9" style="color:#FFFFFF">Молодого мажора по имени Азамат, привыкшего к комфортной городской жизни, по стечению непредвиденных обстоятельств, отправляют работать Акимом в отдаленный посёлок - Таза Булак.
Естественно, он не «испытывает большого восторга» от такого поворота событий.</div>
</div>
</div>
{% endblock %}

